
  <body padding: 0>
    <div margin: 0 auto;>
      <table class="table" margin: 0 auto;>
        <tbody margin: 0 auto;>
          <tr class="title">
            <td class="cont" style="border-top: none;">
              <span class="toggle_btn">
                <i class="icon-chevron-right"></i>
                <i class="icon-chevron-down" style="display: none;"></i>
              </span>
              <span class="title_content">신규가입, 번호이동, 기기변경이 뭔가요?</span>
              <span class="date">13/12/30</span>            
            </td>
          </tr>
          <tr class="content hide">
            <td>
              <p>
                <p><b>휴대폰 가입 유형을 뜻합니다.</b></p>

                <p>
                  <li>신규가입: 새로운 통신사에서 휴대폰 개통</li>
                  <li>번호이동: 특정 통신사에서 다른 통신사로 이동</li>
                  <li>기기변경: 같은 통신사에서 휴대폰만 변경</li>
                </p>
                <p>할부원금은 번호이동이 가장 저렴하며, 기기변경이 가장 비쌉니다. 기존 통신사에 결합할인으로 큰 이득을 보고있는 것이 아니라면 번호이동하는 것이 유리합니다.</p>
                 
                <p>※ 보다 쉽고 자세한 설명을 위해 그림을 첨부해요.</p>

                <p><%= image_tag("1-1.png")%></p>
                <p><%= image_tag("1-2.png")%></p>
                <p><%= image_tag("1-3.png")%></p>
              </p>
            </td>
          </tr>
          <tr class="title">
            <td class="cont">
              <span class="toggle_btn">
                <i class="icon-chevron-right"></i>
                <i class="icon-chevron-down" style="display: none;"></i>
              </span>
              <span class="title_content">휴대폰 구매의 핵심, 할부원금!</span>
              <span class="date">13/12/30</span>            
            </td>
          </tr>
          <tr class="content hide">
            <td>
              <p>
                <p><b>휴대폰 구매의 핵심, 할부원금!</b></p>

                <p>매달 청구되는 휴대폰 요금은, <font color="#ff0000">요금제</font> - <font color="#fa8072">요금제할인</font> + <font color="#64cd3c">세금</font> + <font color="#46dbc3">할부원금</font>으로 구성됩니다.</p>
                <p>[세금은 (요금제-요금제할인)의 10%입니다.]</p>
                <p>그런데 <font color="#ff0000">요금제</font> - <font color="#fa8072">요금제할인</font> + <font color="#64cd3c">세금</font>은 고정된 값이기에, 휴대폰을 저렴하게 사기 위해서는 <font color="#46dbc3">할부원금</font>이 낮은 휴대폰을 사야 합니다.</p>
                <p>여기서 말하는 <font color="#46dbc3">할부원금</font>이 바로 <font color="#46dbc3">휴대폰 가격</font>으로, 보통 이 할부원금을 24개월에 걸쳐 납부를 하게 됩니다. (할부원금이 240,000원이라면 매달 10,000원씩 납부하게 됩니다.) </p>
                <p>그러니 앞으로 휴대폰 구매하실 땐 <font color="#46dbc3">할부원금</font>만 보고 구매하세요!</p>
                <p>※ 보다 쉽고 자세한 설명을 위해 그림을 첨부해요.</p>

                <p><%= image_tag("2-1.png")%></p>
                <p><%= image_tag("2-2.png")%></p>
                <p><%= image_tag("2-3.png")%></p>
                <p><%= image_tag("2-4.png")%></p>
                <p><%= image_tag("2-5.png")%></p>
                <p><%= image_tag("2-6.png")%></p>
                <p><%= image_tag("2-7.png")%></p>
                <p><%= image_tag("2-8.png")%></p>
              </p>
            </td>
          </tr>
          <tr class="title">
            <td class="cont">
              <span class="toggle_btn">
                <i class="icon-chevron-right"></i>
                <i class="icon-chevron-down" style="display: none;"></i>
              </span>
              <span class="title_content">대리점에서 ‘실구매가 0원’이라고 하던데 실구매가가 뭐죠?</span>
              <span class="date">13/12/30</span>            
            </td>
          </tr>
          <tr class="content hide">
            <td>
              <p>
                <p><b>실구매가는 할부원금에서 요금제할인을 뺀 금액입니다.</b></p>

                <p>매달 청구되는 휴대폰 요금은,</p>
                <p><font color="#ff0000">요금제</font> - <font color="#fa8072">요금제할인</font> + <font color="#64cd3c">세금</font> + <font color="#46dbc3">할부원금</font>으로 구성됩니다.</p>
                <p>[세금은 (요금제-요금제할인)의 10%입니다.]</p>

                <p>그런데 <font color="#fa8072">요금제할인</font>이 <font color="#46dbc3">할부원금</font>과 같을 때, 대리점에서는 ‘실구매가 0원’이라고 합니다. 요금제할인이 300,000원인데 실구매가가 0원이라면 실제 할부원금은 300,000원이 되겠죠?</p>
                <p>실구매가에 속지마시고 <font color="#46dbc3">할부원금</font>만 보고 구매하세요! </p>
                <p>※ 보다 쉽고 자세한 설명을 위해 그림을 첨부해요.</p>

                <p><%= image_tag("3-1.png")%></p>
                <p><%= image_tag("3-2.png")%></p>
                <p><%= image_tag("3-3.png")%></p>
                <p><%= image_tag("3-4.png")%></p>
                <p><%= image_tag("3-5.png")%></p>
                <p><%= image_tag("3-6.png")%></p>
              </p>
            </td>
          </tr>
          <tr class="title">
            <td class="cont">
              <span class="toggle_btn">
                <i class="icon-chevron-right"></i>
                <i class="icon-chevron-down" style="display: none;"></i>
              </span>
              <span class="title_content">위약금·할부원금을 지원 해준다는데 정말인가요?</span>
              <span class="date">13/12/30</span>            
            </td>
          </tr>
          <tr class="content hide">
            <td>
              <p>
                <p><b>사실이 아닙니다.</b></p>
                <p>대부분의 오프라인 대리점에선 <font color="#ff0000">위약금·기존 휴대폰의 할부원금</font>을 <font color="#ff0000">대납</font>해주는 대신 <font color="#46dbc3">새 휴대폰의 할부원금을 높입니다.</font></p>
                <p>그러니 대납이란 말에 현혹되지 마시고 구매하실 휴대폰의 할부원금만 물어보세요! </p>
                <p>※ 보다 쉽고 자세한 설명을 위해 그림을 첨부해요.</p>

                <p><%= image_tag("4-1.png")%></p>
                <p><%= image_tag("4-2.png")%></p>
                <p><%= image_tag("4-3.png")%></p>
                <p><%= image_tag("4-4.png")%></p>
                <p><%= image_tag("4-5.png")%></p>
              </p>
            </td>
          </tr>
          <tr class="title">
            <td class="cont">
              <span class="toggle_btn">
                <i class="icon-chevron-right"></i>
                <i class="icon-chevron-down" style="display: none;"></i>
              </span>
              <span class="title_content">남은 휴대폰 할부원금, 위약금 조회 방법</span>
              <span class="date">13/12/30</span>            
            </td>
          </tr>
          <tr class="content hide">
            <td>
              <p>
                <p>약정/할부가 끝나지 않은 상태에서 새 휴대폰을 구매 시 <b>남은 휴대폰의 할부원금과 위약금을 지불해야 합니다.</b></p>
                <p>각 통신사별 모바일 조회 방법을 첨부했으니 참고하세요! (SKT의 경우 위약금을 조회하기 위해선 웹으로 접속해야 해요.)</p>
                 
                <p><%= image_tag("5-1.png")%></p>
                <p><%= image_tag("5-2.png")%></p>
                <p><%= image_tag("5-3.png")%></p>
              </p>
            </td>
          </tr>
          <tr class="title">
            <td class="cont">
              <span class="toggle_btn">
                <i class="icon-chevron-right"></i>
                <i class="icon-chevron-down" style="display: none;"></i>
              </span>
              <span class="title_content">왜 온라인 구매가 오프라인 구매보다 싼가요?</span>
              <span class="date">13/07/16</span>            
            </td>
          </tr>
          <tr class="content hide">
            <td>
              <p>
                <p><b>온라인 구매는 다음과 같은 이유로 오프라인보다 쌉니다.</b></p>
 
                <p>1. 통신사에서는 온/오프라인 단가를 따로 내며 온라인 단가를 더 싸게 만듭니다. 온라인 구매자들이 가격에 더 민감하여 빠르게 가입자를 유치할 수 있기 때문입니다.</p>

                <p>2. 통신사에서는 특정 대리점의 성과가 좋을 수록 목표달성수당(그레이드)을 지급하며, 박리다매를 추구하는 온라인의 특성상 오프라인보다 더욱 저렴해질 수 있습니다.</p>
                 
                <p>3. 오프라인의 경우 대리점 임대료, 직원 인건비 등이 온라인에 비해 크기에 단가가 비싸질 수밖에 없습니다.</p>
                 
                <p>이런 이유로 그래서 오프라인에서 마진 없이 판매해도 온라인보다 비싼 경우가 있을 정도로 온라인 구매가 오프라인 구매보다 쌉니다.</p>
              </p>
            </td>
          </tr>
          <tr class="title">
            <td class="cont">
              <span class="toggle_btn">
                <i class="icon-chevron-right"></i>
                <i class="icon-chevron-down" style="display: none;"></i>
              </span>
              <span class="title_content">비싼 요금제나 필요 없는 부가서비스는 왜 가입해야하나요?</span>
              <span class="date">13/07/16</span>            
            </td>
          </tr>
          <tr class="content hide">
            <td>
              <p>
                <p><b>비싼 요금제나 필요 없는 부가서비스에 가입할 수록 휴대폰 가격이 낮아집니다.</b></p>

                <p>이통사에서는 대리점에 아래와 같은 방식으로 정책(가격표)을 냅니다.</p>
                <p>"○○ 부가서비스 유치시 건당 4만원 추가"</p>
                <p>"○○ 요금제 유치시 건당 6만원 추가"</p>
                <p>대리점에서 이런 식으로 받게되는 수당을 미리 할인하여 저렴한 휴대폰 가격으로 고객들을 유치하며, 대부분의 경우 비싼 요금제와 필요 없는 부가서비스로 납부하는 금액이 할인받는 금액보다 적습니다.</p>
              </p>
            </td>
          </tr>
          <tr class="title">
            <td class="cont">
              <span class="toggle_btn">
                <i class="icon-chevron-right"></i>
                <i class="icon-chevron-down" style="display: none;"></i>
              </span>
              <span class="title_content">스마트폰은 언제 사는게 싼가요?</span>
              <span class="date">13/07/04</span>
            </td>
          </tr>
          <tr class="content hide">
            <td>              
              <p>                              
                  <p><b>주로 주말, 월말, 분기말에 저렴합니다.</b></p>

                  <p>추가로 과도한 보조금 지급을 단속하는 방송통신위원회를 피하기 위해 주로 야간에 특가 정책이 올라오기에 ‘맞춤스마트폰’ 기능을 활용하세요!</p>

                  <p>Q1.  주말에 더 저렴한 이유(금, 토, 일)</p>
                  <p>통신사는 수요가 많을 때 집중적으로 보조금을 사용합니다. 대리점에는 주말 단가가 별도로 나오며 주말에 많은 개통을 하면 추가수당(그레이드)이 있으니, 그것을 위해 특히 더 저렴하게 판매합니다.</p>

                  <p>Q2. 분기말에 더 저렴한 이유(3, 6, 9월)</p>
                  <p>통신사 모두 국내 대기업이므로 유치실적을 발표하는 분기 말에 보조금을 풀어 가입자 경쟁을 하곤 합니다. 하지만 4/4분기(12월)에는 그 해 영업이익을 발표해야 하기 때문에 크게 보조금을 지급하지 않습니다.</p>

                  <p>Q3. 월초에 비싼 이유</p>
                  <p>통신사 입장에서는 굳이 월초부터 보조금을 쓰며 출혈경쟁을 할 필요가 없습니다. 그래서 3개 통신사에서 서로 눈치를 보다가 월 중순이 되어야 보조금을 푸는 것이 일반적입니다.
                  <p>또 통신사에서 리베이트(수수료)를 받는 대리점들도 매월 목표수량을 못 채우면 차감이 되기 때문에 월말에는 자체보조금을 풀어 어떻게든 수량을 채우려 합니다.</p>
              </p>
            </td>
          </tr>
          
          <tr class="title">
            <td class="cont">
              <span class="toggle_btn">
                <i class="icon-chevron-right"></i>
                <i class="icon-chevron-down" style="display: none;"></i>
              </span>
              <span class="title_content">스마트폰도 전자제품이니 비쌀수록 좋나요?</span>
              <span class="date">13/07/16</span>            
            </td>
          </tr>
          <tr class="content hide">
            <td>
              <p>
                <p><b>아닙니다. 구매가격과 성능은 결코 비례하지 않습니다.</b></p>
                <p>다른 전자제품의 경우 대체로 비쌀수록 좋습니다. 하지만 휴대폰은 통신사와 제조사의 보조금이 얽혀있어 절대 그렇지 않습니다.</p>
                <p>오늘 20만 원에 구매한 제품이 한달 뒤에 40만 원에 판매되기도 하는 등 보조금에 따라 가격 등락폭이 심하기에 <b>'보조금이 가장 클 때' 산다면 성능이 가장 좋은 제품도 다른 제품들보다 저렴하게 살 수 있습니다.</b></p>
              </p>
            </td>
          </tr>

          <tr class="title">
            <td class="cont">
              <span class="toggle_btn">
                <i class="icon-chevron-right"></i>
                <i class="icon-chevron-down" style="display: none;"></i>
              </span>
              <span class="title_content">용어사전</span>
              <span class="date">13/07/16</span>            
            </td>
          </tr>
          <tr class="content hide">
            <td>
              <p>
                <p>가개통 = 개통 이후 사용하지 않거나 거의 사용하지 않음</p>
                <p>가격방어(가방) = (휴대폰) 가격이 잘 하락되지 않음</p>
                <p>가면(가입비 면제), 가무(가입비 無) = 가입비가 없음</p>
                <p>가성비 = 가격대비 성능비.</p>
                <p>가유(가입비 有) = 가입비가 있음</p>
                <p>가입비= 휴대폰 통신사 서비스에 가입할 때 지불하는 금액</p>
                <p>개철(개통철회) = 통신 서비스 (가입)개통을 철회함</p>
                <p>기변(기기변경)= 사용중인 통신사업자 서비스를 유지하며 기기를 새로 구입해 변경함</p>
                <p>기변권= 특정 고객에게 기기변경 시 할인이나 사은품 제공 등의 혜택을 제공하는 서비스.</p>
                <p>기존회선묶임= 기존에 사용하는 회선의 해지, 정지 등이 제한 됨</p>

                <p>내방= 판매 대리점에 직접 방문해 구매</p>
                <p>네고= 가격 흥정</p>

                <p>다회선 = 여러 개의 통신 서비스를 개통해 이용</p>
                <p>대란 = 1. 특정 기간에 특정 상품이 좋은 가격으로 한정 제공되어 많은 사람이 구매하는 현상을 이르는 말</p>

                <p>뭉올(뭉치면올레) = KT의 가족 단위 결합 할인 서비스</p>
                <p>미개봉원씰= 휴대폰 박스가 한 번도 개봉되지 않고 실이 한 개만 붙어 봉합됨</p>

                <p>방통위(방송통신위원회)</p>
                <p>번인 = AM OLED 디스플레이에서 잔상이 남는 현상</p>
                <p>번이(번호이동) = 사용중인 통신사에서 타 통신사로 이동해 가입</p>
                <p>별 = 현금 (EX: 별 5개 = 5만원)</p>
                <p>보상기변(보상 기기변경)</p>
                <p>부무(부가서비스 無) = 부가서비스 없음 </p>
                <p>부유(부가서비스 有) = 부가서비스 있음 </p>
                <p>분납 = 개통 후 부과되는 요금을 일정 기간으로 나누어서 납부함</p>
                <p>빙하기 = 좋은 조건과 가격으로 판매되지 않는 시기를 일컫음</p>

                <p>삼무 = 휴대폰 가입 시 필요한 3가지 비용 (가입비, 유심비, 부가서비스)이 부과되지 않음</p>
                <p>선개통(↔후개통) = 온라인 구매 시 먼저 휴대폰을 개통하고 이후에 택배 발송함을 뜻함 (반대어 - 후개통)</p>
                <p>신규(신규가입) = 통신 사업자의 서비스 이용 내역 없이 신규 서비스를 개통함</p>
                <p>스나(스나이퍼) = 보조금 지침을 어겨 판매하는 업체나 판매자를 적발하거나 신고하는 사람</p>
                <p>스팟 = 일정 시간을 두고 좋은 판매 조건이 올라옴 혹은 그러한 판매 조건</p>

                <p>액보 = 액정보호필름의 줄임말</p>
                <p>에그 = KT 와이브로 신호를 수신하는 장치.</p>
                <p>에이징 = 서비스 번호를 유지하면서 동일한 통신 서비스에 신규로 가입함</p>
                <p>예판(예약판매) = 예약을 받아 판매하는 상품</p>
                <p>오프= 1. 오프라인의 줄임말 2. 오프라인 휴대폰 판매점을 총칭</p>
                <p>올무(올면, 3무) = 통신 서비스 가입 시 가입비, 유심비 등의 개통비용, 의무가입 부가서비스가 모두 없음을 의미</p>
                <p>요자(요금제 자유) = 요금제 제한 없이 구매자가 요금제를 자유롭게 선택할 수 있음</p>
                <p>유심기기변경= 유심 카드를 다른 단말기에 옮겨 기기를 변경함</p>
                <p>유심기변(유심기기변경)</p>
                <p>유무 = 유심비가 없다는 뜻</p>
                <p>유지비 = 가입 후 일정 기간동안 통신서비스를 사용하는데 드는 총 비용</p>
                <p>유후= 가입 시 유심 비용 후납처리</p>
                <p>위약금 = 계약을 위반할 때 내야하는 금액</p>
                <p>의무사용기간 = 통신 서비스를 의무적으로 이용해야하는 기간</p>

                <p>전환신규가입 = 2G 서비스에서 3G 서비스로 전환 가입</p>
                <p>정책 = 1. 판매자의 판매 조건과 가격. 2. 통신 서비스 사업자의 판매 지침과 사업 전략상의 판매 정책</p>

                <p>폐쇄몰 = 온라인 카페 서비스 등을 이용하여 외부에 공개하지 않고 특정인만을 대상으로 판매하는 공간</p>
                <p>폰테크 = 휴대폰의 시세차이를 이용해 이익을 챙기는 일</p>
                <p>폰테커 = 폰테크를 하는 사람</p>
                <p>펑 = 글 작성자가 자신의 글을 삭제함, 물품 판매자가 여러 사정으로 취소되거나 중단됨</p>
                <p>폰팔이 = 휴대폰 서비스를 판매하는 업자나 판매자를 낮잡아 이르는 말</p>

                <p>확정기변 = 전산상으로 통신 서비스 이용 기기를 완전히 변경</p>
                <p>할원(할부원금) = 휴대폰 단말기 값에 대해 할부로 지불하는 가격</p>
                <p>할부이자= 휴대폰 할부 구매시 할부원금에 부과되는 이자</p>
                <p>해피콜= 상품 구매 신청 후 판매자가 구입자에게 확인하는 전화</p>
              </p>
            </td>
          </tr>
          

        </tbody>
      </table>
    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <%= javascript_include_tag "jquery-1.10.2.min"%>
    
    <script type="text/javascript">
      $(document).ready(function() {
        $(".title").click(function() {
          $(this).next("tr").toggle();
          $(this).find(".icon-chevron-right").toggle();
          $(this).find(".icon-chevron-down").toggle();        
        });
      });
    </script>
  </body>


